<?php
define('ZF2_PATH', getenv('HOME') . '/vendor/zendframework/zendframework/library');

return array(
    'modules' => array(
        'DoctrineModule',
        'DoctrineORMModule',
        'Album',
    ),
);